* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.item-center {
    align-items: center;
    justify-content: center;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.align-center {
    align-items: center;
}

.grid {
    display: grid;
}

header {
    height: fit-content;
}

.background, header > div.flex > img, #about-me, .project {
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.2);
}

.background {
    background-color: rgb(63, 167, 199);
    z-index: 1;
    height: 600px;
    width: 100%;
    transform: skewY(171deg);
    transform-origin: 0% 0%;
    justify-self: baseline;
    align-self: baseline;
}

img[src^="./assets/icons"] {
    width: 24px;
    height: auto;
    transition: transform 0.5s;
}

a > img[src^="./assets/icons"]:hover {
    transform: translateY(-5px);
}

a[href*="linkedin"] > img {
    width: 32px;
    height: auto;   
}

header > div.flex {
    max-width: 1200px;
    z-index: 2;
    padding: 80px 40px;
}

header > div.flex > img {
    width: 300px;
    height: auto;
    border-radius: 4px;
}

#about-me {
    background-color: white;
    margin: 40px 0;
    border-radius: 0 10px 10px 0;
    padding: 48px;
    gap: 24px;
}

.links {
    gap: 8px;
}

#about-me > .links {
    justify-content: end;
}

main {
    padding: 40px 160px;
    max-width: 100rem;
    margin: auto;
}

main > .grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 400px;
    gap: 40px;
    margin-top: 24px;
}

.project {
    border-radius: 10px;
    transition: transform 0.3s;
    border: 1px solid black;
}

.project:hover {
    transform: scale(1.025);
}

.project > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    flex-shrink: 0;
}

.project > div {
    padding: 20px;
    border-top: 1px solid black;
}

.project > div > p {
    max-height: 70px;
    overflow-y: auto;
}

.project > div > div.flex {
    justify-content: space-between;
    margin-bottom: 4px;
}

.project > div > div.flex > h2 {
    font-size: 1.1rem;
}

a[href*="github.io"] > img {
    width: 26px;
    height: auto;
}

footer {
    background-color: rgb(63, 167, 199);
    padding: 60px;
    gap: 32px;
    font-size: 1.1rem;
    justify-content: space-around;
    margin-top: 40px;
}

#contact {
    gap: 16px;
}

#contact > div.flex:not(.links) {
    gap: inherit;
}

#contact > div.flex > div.flex {
    gap: 8px;
    align-items: center;
}

footer > .container > img {
    width: 600px;
    height: auto;
    border-radius: 4px;
}

@media (max-width: 1030px) {
    footer > .container {
        width: 60%;
        height: auto;
    }

    footer > .container > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 760px) {
    header > div.flex {
        flex-direction: column;
        padding: 80px 0 0 0;
    }

    header > div.flex > img {
        align-self: center;
    }

    #about-me {
        box-shadow: none;
        margin: 20px 48px 0 48px;
    }

    h1 {
        text-align: center;
    }

    #about-me .links, #contact .links {
        justify-content: center;
    }

    a > img[src^="./assets/icons"]:hover {
        transform: none;
    }

    img[src^="./assets/icons"] {
        transition: none;
    }

    main {
        padding: 40px 60px;
    }

    .project {
        transition: none;
    }

    .project:hover {
        transform: none;
    }

    footer {
        flex-direction: column;
    }

    footer > .container {
        width: auto;
        height: auto;
    }

    footer > .container > img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 420px) {
    #about-me {
        margin: 20px 0 0 0;
    }

    footer {
        padding: 60px 20px;
    }
}

@media (max-width: 400px) {
    main > .grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}